{% extends 'main/layout.html' %}

{% block title %}
    MAIN PAGE
{% endblock %}

{% block content %}
<div class="container body mt-3">

{% for movie in movies_info %}
<div class="container mx-auto px-4 py-6">
    <div class="flex flex-col md:flex-row bg-gray-900 rounded-lg shadow-lg overflow-hidden max-w-xl md:max-w-4xl mx-auto">
        <img class="w-full md:w-1/3 object-cover" src="{{ movie.image }}" alt="Obraz Filmu" style="height: auto; min-height: 300px;">
        <div class="w-full p-6 flex flex-col justify-between">
            <div>
                <div class="flex justify-between">
                    <div class="text-white">
                        <h2 class="text-xl md:text-2xl font-bold">{{ movie.title }}</h2>
                        <p class="text-gray-400 text-sm md:text-base mt-2">{{ movie.description }}</p>
                    </div>
                    <div class="text-yellow-400 self-start top-2 right-2">
                        <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 .587l3.297 6.673 7.419 1.08-5.367 5.23 1.267 7.385-6.616-3.482-6.616 3.482 1.267-7.385-5.367-5.23 7.419-1.08z"/></svg>
                        <p class="text-xs mt-1">{{ movie.rating }}</p>
                    </div>
                </div>
            </div>
            <div class="mt-4 flex flex-col justify-between">
                <div class="mb-4">
                    {% for el in movie.genres %}
                    <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-300 mr-2">#{{ el }}</span>
                    {% endfor %}
                </div>
                <a href="{% url 'add_review' movie.title|urlencode %}">
                    <button class="w-40 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition ease-in-out duration-150">
                        Dodaj recenzję
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}


</div>
{% endblock %}

